# API & Backend Configuration
API_BASE_URL=http://localhost:8000
WS_BASE_URL=ws://localhost:8000/ws

# Coturn WebRTC Configuration (STUN / TURN)
STUN_URL=stun:coturn.eka-dev.cloud:19302
TURN_URL=turn:coturn.eka-dev.cloud:19302
TURN_USERNAME=usertelepon
TURN_CREDENTIAL=your_turn_credential_here

# Google OAuth Configuration (Server Client ID from Google Cloud Console)
GOOGLE_SERVER_CLIENT_ID=

