{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "chatapp-sample",
    "storage_bucket": "chatapp-sample.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:abcdef1234567890",
        "android_client_info": {
          "package_name": "cloud.eka_dev.chat_app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSySampleKeyHere123456"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
